
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.userprefs
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pidb
.svn
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
tozip/
test-results/
Build/Output/
Build/output/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Examples*/
SerializerTest*/
*.csproj.user
*.resharper*
*.rdl.data
#ignore files created by TortoiseGit when resolving conflicts
/ToZip
LOCAL.*/
REMOTE.*/
BASE.*/
LOCAL.*
REMOTE.*
BASE.*

/nunit-result.xml
/test-results
*.DS_Store
*.ipa